body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

nav .navbar-dark default-color .navbar .navbar-expand-md {
  background-color: red !important;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #4285f4;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px '#4285F4';
}

::-webkit-scrollbar-corner {
  background: #4285f4;
}
